html {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Noto Serif JP', serif;
  font-size: 25px;
}

li{
  list-style-type: none;
  padding: 0 5px 0 5px;
}

/* body{
  text-align: center;
} */

.inner{
  width: 940px;
  margin: 0 auto;
}

header{
  height:500px;
  margin: 0px;
  padding: 0px;
  min-width:100%;
  margin-bottom: 0;
  background-image: url('../img/top-wrapper.jpg');
  background-position: top left 330px ;
  background-size: cover;
  color: white;
}

header h1 {
  margin-top: 0;
  font-size: 90px;
  letter-spacing: 5px;
  font-family: 'Kaushan Script', cursive;
}


div#nav{
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: #222222;
  /* position: absolute; */
}

/* div#nav.fixed{
  position: fixed;
  top: 0;
} */

div#nav ul{
  overflow: hidden;
  margin-top: 0;
  padding-left: 0;
}

div#nav li{
  float: left;
  width: 160px;
  border-right: #fff 1px solid;
}

div#nav li:first-child{
  width: 150px;
  border-right: #fff 1px solid;
}

div#nav a{
  display: block;
  padding: 15px 0;
  font-size: 25px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  color: rgb(207, 205, 205);
  font-family: 'Kaushan Script', cursive;
}

div#nav a:hover{
  background-color: #363749;
  transition: 0.2s;
}

.top-wrapper{
  padding: 1000px 0 1000px 0;
  background-image: url('../img/top-wrapper.jpg');
  background-size: cover;
  color: white;
}

#wrapper{
  text-align: center;
  width: 100%;
  margin: auto;
  position: relative;
  display: flex;
  float: left;
}

div#wrapper div.category{
  float: left;
  width: 120px;
  text-align: left;
}
div#wrapper div#item_list,
div#wrapper div#item_detail
{
  width: 330px;
  text-align: left;
  float: left;
}
div#wrapper div#item_list div.item ul{
  overflow: hidden;
  height: auto;
}
div#wrapper div#item_list div.item .name{
  font-weight: bold;
}
div#wrapper div#item_list div.item .price{
  color : #900;
}
div#wrapper div#item_list div.item ul li.detail{
  text-align: right;
  font-weight: bold;
  vertical-align: bottom;
}
div#wrapper div#item_list div.item .image{
  padding: 0.4px;
  text-align: left;
}
div#wrapper div#cart_list div.item{
  text-align: right;
  overflow: hidden;
  height: auto;
}
div#wrapper div#cart_list div.item .image{
  float: left;
}

/* div#footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

div#footer .footer-logo {
  float: left;
  font-size: 32px;
}

div#footer .footer-list {
  float: right;
}

div.footer-list li {
  padding-bottom: 20px;
} */

.red{
  color: #f00;
  font-size: 12px;
}