<div id="header">
  <div class="inner">
    <dl id="info">
      <dt>TEL</dt><dd>000-000-0000</dd>
      <dt>E-mail</dt><dd>tttvvvaken@@gmail.com</dd>
      <dt>所在地</dt><dd>東京都大田区○○</dd>
    </dl>
  </div>
</div>