<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}css/style.css" rel="stylesheet">
    <title>会員登録完了</title>
  </head>
  <body>
    <div id="nav">
      {% include 'gnav.html.twig' %}
    </div>
  <div>会員登録が完了しました</div>
  </body>
</html>