<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP|Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}css/style.css" rel="stylesheet">
    <title>注文完了</title>
  </head>
  <body>
    <header>
      <h1>TK Dance Platform</h1>
    </header>
    <div id="nav">
      {% include 'gnav.html.twig' %}
    </div>
    <p>オーダー完了しました</p>
</html>