<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="{{constant('portfolio_1\\Bootstrap::ENTRY_URL')}}css/style.css" rel="stylesheet">
    <title>退会完了</title>
  </head>
  <body>
    <div id="nav">
      {% include 'gnav.html.twig' %}
    </div>
  <div>会員処理が完了しました。またのご利用お待ちしております。</div>
  </body>
</html>